
**/.idea
**/target
**/Cargo.lock


.idea
/*/.idea
/*/*/.idea
/*/*/*/.idea
/*/*/*/*/.idea
/*/*/*/*/*/.idea

Cargo.lock
/*/Cargo.lock
/*/*/Cargo.lock
/*/*/*/Cargo.lock
/*/*/*/*/Cargo.lock
/*/*/*/*/*/Cargo.lock

/target
/*/target
/*/*/target
/*/*/*/target
/*/*/*/*/target
/*/*/*/*/*/target

/bifrost
/substrate
/substrate-node-template
/apps

#/.gitignore